body {
    width: 500px;
    background: lightblue
}

#message-container {
    position: fixed;
    top: 48px;
    left : 10px;
    height: 575px;
    width: 500px;
    background: whitesmoke;
    border: solid 2px black;
    box-shadow: 0px 0px 15px 0px black;
    overflow: auto;
}


.even {
    position: relative;
    height: auto;
    padding-right: 10px;
    padding-left: 10px;
    text-align: right;
}

.even span{
    display:inline-block;
    background: lightyellow;
    border-radius: 10px;
    padding-left: 7px;
    padding-right: 7px;
    width: content;
    max-width: 50%;
    left: -5px;
    font-family: "Times New Roman", Times, serif;
}

.odd {
    position: relative;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    padding-top: 5px;
}

.odd span{
    display: inline-block;
    left: 5px;
    max-width: 50%;
    width: max-content;
    border-radius: 10px;
    padding-left: 7px;
    padding-right: 7px;
    background: lightgray;
    font-family: "Times New Roman", Times, serif;
}

.question-input {
    position: fixed;
    top: 625px;
    width: 525px;
    height: 40px;
    padding-left: 10px;
    padding-top: 10px;
    
}

.chat-header{
    text-align: center;
    text-shadow: 1px black;
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: bold;
    font-size: 25px;
    width: 525px;
    height: 30px;
    position: fixed;
    padding-left: 10px;
    padding-top: 5px;
    color: black;

}

.send-button{
    position: fixed;
    right: 10px;
    top: 650px;
    padding-right: 10px;
    width: 440px;
}