{% extends "profhome.html" %}

{% block content %}

<p>here we can add how to instructions!</p>

<div id="input-containter">
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
            <p>{{ form.verb.label }}<br>
            {{ form.verb(size=55) }} </p>
            <p>{{ form.term.label }}<br>
            {{ form.term(size=55) }} </p>
            <p>{{ form.instruction.label }}<br>
            {{ form.instruction(size=55) }}</p>
            <p>{{ form.submit() }}</p>
    </form>
</div>

<div id="unknown-terms">
<p>Students asked for these questions but did not have instructions</p>
    {% for question in questions %}
        <ul>{{ question.question }}</ul>
    {% endfor %}
</div>

{% endblock content %}