<!doctype html>
<html>
    <head>
        <title>PytheyBuddy</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/messages.css') }}">
    </head>
    
    <body>
        <div id="chat-header">PytheyBuddy</div>
        <div id="logout"><a href="{{ url_for('logout') }}">Log out!</a></div>
        <div id="message-container">
        {% for post in posts %}
            {% if post.user_talking != "chatbot" %}
            <div class="even"><p><span>{{ post.body }}</b></span></p></div>
            {% else %}
            <div class="odd"><p><span><strong>{{ post.body }}</b></span></strong></p></div>
            {% endif %}
        {% endfor %}
        <span id = "endOfMessages"></span>
        <script>
            const elem = document.getElementById("endOfMessages");
            elem.scrollIntoView(false);
        </script>
        </div>
        {% block content %}{% endblock content%}
    </body>
</html>

