<!doctype html>
<html>
    <head>
        <title>Welcome to COMP 110 Chatbot</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/messages.css') }}">
    </head>
    
    <body>
        <div class="chat-header">PytheyBuddy</div>
        <div id="message-container">
        {% for post in posts %}
            {% if loop.index is even %}
            <div class="even"><p><span>{{ post }}</b></span></p></div>
            {% else %}
            <div class="odd"><p><span><strong>{{ post }}</b></span></strong></p></div>
            {% endif %}
        {% endfor %}
        <span id = "endOfMessages"></span>
        <script>
            const elem = document.getElementById("endOfMessages");
            elem.scrollIntoView(false);
        </script>
        </div>
        {% block content %}{% endblock content%}
    </body>
</html>

